<script type="text/javascript">
var clockingConfig = {
  createUrl: '<%= time_entries_path(:format => 'json') %>',
  rootUrl: '<%= home_path %>',
  currentUserName: "<%= h(User.current.name) %>",
  apiKey: '<%= h(User.current.api_key) %>',
  images: {
    refresh: '<%= image_path("arrow_refresh.png", :plugin => 'chiliproject_clocking') %>',
    window: '<%= image_path("window.png", :plugin => 'chiliproject_clocking') %>',
    loading: '<%= image_path("loading.gif") %>'
  },
  embedded: <%= embedded %>,
  helpUrl: '<%= url_for(:controller => 'help', :action => 'wiki_syntax') %>'
};

var clockingTool = new ClockingTool(clockingConfig);

// Sent the CSRF token with any ajax requests
jQuery(document).ajaxSend(function(e, xhr, options) {
  var token = jQuery("meta[name='csrf-token']").attr("content");
  if (token) {
    xhr.setRequestHeader("X-CSRF-Token", token);
  }
});

jQuery(document).ready(function() {
  jQuery('#more-menu').after('<li class="clocking-tool-trigger"><%= link_to(image_tag('clock.png', :plugin => 'chiliproject_clocking'), {:controller => 'clocking_tool', :action => 'index'}, :onclick => "return false") %></li>');
  clockingTool.draw();

  jQuery('.clocking-tool-trigger').live('click', function() {
    clockingTool.getProjects();

    var clockingToolEle = jQuery('#clocking-tool');
    if (clockingToolEle.hasClass('open')) {
      // Close tool
      clockingToolEle.hide().removeClass('open');
    } else {
      // Open tool
      clockingToolEle.show().addClass('open');

      // Use a single fire event on the html element to handle clicks
      // outside the tool to close the tool
      //
      // Adapted from ChiliProject 3.0.0's handleClickEventOnPageToCloseOpenMenu()
      jQuery('html').one("click", function(htmlEvent) {
        // Was the trigger clicked?
        if (jQuery('.clocking-tool-trigger').has(htmlEvent.target).length > 0) {
          // Clicked on the trigger, let it bubble up (thus close)
        } else if (clockingToolEle.has(htmlEvent.target).length > 0) {
          // Clicked on the open tool, let it bubble up
        } else {
          // Clicked elsewhere, close tool
          clockingToolEle.hide().removeClass('open');
        }
      });

    }
      
  });
});
</script>

<div id="clocking-tool" class="embed" style="display: none;"></div>

<%= render :partial => 'clocking_tool/template' %>
        
