<script type="text/javascript">
var clockingConfig = {
  createUrl: '<%= time_entries_path(:format => 'json') %>',
  rootUrl: '<%= home_path %>',
  currentUserName: "<%= h(User.current.name) %>",
  apiKey: '<%= h(User.current.api_key) %>',
  images: {
    refresh: '<%= image_path("arrow_refresh.png", :plugin => 'chiliproject_clocking') %>',
    loading: '<%= image_path("loading.gif") %>'
  },
  helpUrl: '<%= url_for(:controller => 'help', :action => 'wiki_syntax') %>'
};

var clockingTool = new ClockingTool(clockingConfig);

// Sent the CSRF token with any ajax requests
jQuery(document).ajaxSend(function(e, xhr, options) {
  var token = jQuery("meta[name='csrf-token']").attr("content");
  if (token) {
    xhr.setRequestHeader("X-CSRF-Token", token);
  }
});

jQuery(document).ready(function() {
  jQuery('#more-menu').after('<li class="clocking-tool-trigger"><a href="#">C</a></li>');
  clockingTool.draw();

  jQuery('.clocking-tool-trigger').live('click', function() {
    clockingTool.getProjects();
    jQuery('#clocking-tool').toggle();
  });
});
</script>

<div id="clocking-tool" class="embed" style="display: none;"></div>

<%= render :partial => 'clocking_tool/template' %>
        
