<html>
<head>
<title>Clocking Tool</title>
<%= csrf_meta_tag %>
<%= favicon %>
<%= stylesheet_link_tag 'application', :media => 'all' %>
<%= stylesheet_link_tag 'rtl', :media => 'all' if l(:direction) == 'rtl' %>
<%= javascript_heads %>
<%= heads_for_theme %>
<%= call_hook :view_layouts_base_html_head %>
<style type="text/css">
body { min-width: 400px; }
</style>

</head>
<body>
  <%= render :partial => 'clocking_tool/embed' %>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery('#clocking-tool').removeClass('embed').show();
      clockingTool.getProjects();
    });
  </script>
</body>
</html>
